VITE_API_HTTP_BASE_URL="http://localhost:8000"
VITE_ASSISTANT_CHAT_ENDPOINT="/assistant/chat"
VITE_ASSISTANT_MODELS_ENDPOINT="/assistant/models"



VITE_API_WS_URL="ws://localhost:8000"
VITE_CODE_SERVICE_ENDPOINT="/ws/terminal"
